* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  width: 1440px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}
h3 {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.header {
  background-color: #8f8f8f;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  height: 142px;
  align-items: center;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 13.42px;
}

.logo {
  width: 218px;
  height: 59px;
  font-size: 24px;
  text-align: center;
  background-color: white;
  padding-top: 16px;
  padding: 14.11px 11.77px 16.89px 11.77px;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  display: flex;
  height: 59px;
  background-color: white;
  margin-right: 1rem;
}
.nav--button-h {
  width: 113.55px;
  height: 58.4px;
  padding: 15px 11.35px 14.89px 22px;
  font-size: 24px;
  text-align: center;
}
.nav--button-f {
  width: 113.55px;
  height: 58.4px;
  padding: 15px 11.35px 14.89px 10.39px;
  font-size: 24px;
  text-align: center;
}
.nav--button-p {
  width: 113.55px;
  height: 58.4px;
  padding: 15px 12.39px 14.89px 22px;
  font-size: 24px;
  text-align: center;
}

.button--big {
  width: 201.29px;
  height: 58.4px;
  padding: 15px 30.03px 14.89px 30.97px;
  font-size: 24px;
  text-align: center;
}

.hero {
  padding-right: 9rem;
  padding-left: 9rem;
  background-color: #c4c4c4;
  height: 582px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero__content {
  height: 458px;
  width: 513px;
  background-color: #ededed;
  padding-right: 5rem;
}

.hero__content .hero__notice {
  text-align: left;
}

.hero__subtitle {
  width: 355px;
  height: 50px;
  background-color: white;
  padding: 1rem;
  margin: 1.5rem 0 3rem 1.5rem;
}

.hero__title {
  margin: 1.5rem 0 1.5rem 1.5rem;
  font-size: 3rem;
}

.hero__notice {
  margin-left: 1.5rem;
  margin-bottom: 8rem;
  font-size: 1.2rem;
}

.hero__button {
  width: 195px;
  height: 50px;
  background-color: white;
  padding: 1rem;
  margin: 1.5rem 0 0 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.hero__demo {
  width: 286px;
  height: 458px;
  border-radius: 47px;
  background-color: #ededed;
  padding-top: 16rem;
  text-align: center;
}
.features {
  background-color: #c4c4c4;
  padding: 2rem;
}
.awesome-app {
  display: flex;
  gap: 8rem;
  justify-content: center;
}
.awesome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  max-width: 200px;
  padding-bottom: 4rem;
}
.awesome img {
  width: 100px;
  margin-bottom: 3rem;
}
.hero__demo .hero__button {
  margin: 1rem auto;
}

.hero__demo h3 {
  margin-bottom: 2rem;
}
.hero__demo .hero__notice {
  margin: 0 3rem;
}
.testimonials {
  width: 1440px;
  height: 296px;
  background-color: #ededed;
  text-align: center;
}
.testimonials-paragraph {
  padding: 2rem;
  padding-top: 2rem;
}
.briefs {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.bitem {
  width: 138px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 2%;
}
.video {
  background-color: #ababab;
  padding: 3rem;
  text-align: center;
}
.video iframe {
  padding-top: 2rem;
}
.footer {
  background-color: #d6d6d6;
  padding: 100px 0;
  text-align: center;
}
.f-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.2rem;
  padding-top: 15px;
}
.f-nav h4 {
  text-decoration: none;
  font-weight: 400;
  font-size: medium;
  margin-bottom: 1rem;
}
.f-social {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1rem;
  padding-top: 30px;
}
.fb {
  width: 70px;
  height: 70px;
  background-color: #3b5998;
  border-radius: 100%;
  font-size: 40px;
  padding-top: 15px;
}
.ig {
  width: 70px;
  height: 70px;
  background: linear-gradient(to right, #883ab4, #fd1d1d, #fcb045);
  border-radius: 100%;
  font-size: 40px;
  padding-top: 15px;
}
.yt {
  width: 70px;
  height: 70px;
  background-color: #c4302b;
  border-radius: 100%;
  font-size: 40px;
  padding-top: 15px;
}
.li {
  width: 70px;
  height: 70px;
  background-color: #0e76a8;
  border-radius: 100%;
  font-size: 40px;
  padding-top: 15px;
}
.prices {
  background-color: #c4c4c4;
  width: 1440px;
  height: 734px;
  padding-top: 20px;
}
.price-h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
}
.price-paragraph {
  padding-bottom: 45px;
}

.price-contrainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.price-box {
  width: 291px;
  height: 396px;
  background-color: #ffffff;
  font-size: 3rem;
  text-align: center;
  padding-top: 0px;
}
.price-left-box {
  position: relative;
  top: 320px;
  left: 25px;
  width: 238px;
  height: 59px;
  background-color: #ebebeb;
}
.price-center-box {
  position: relative;
  top: 320px;
  left: 25px;
  width: 238px;
  height: 59px;
  background-color: #ebebeb;
}
.price-right-box {
  position: relative;
  top: 320px;
  left: 25px;
  width: 238px;
  height: 59px;
  background-color: #ebebeb;
}

.advantages {
  background-color: #ededed;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.advantages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 50%;
  gap: 0.6%;
  justify-items: center;
}

.advantages-item {
  text-align: center;
  width: 192px;
  margin-bottom: 1rem;
}

.advantages-item img {
  width: 100px;
  margin-bottom: 1rem;
}

.advantages h2 {
  margin-bottom: 6rem;
}

.advantages h3 {
  font-size: 1rem;
  color: #333;
  font-weight: 100;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  body {
    width: 100%;
  }

  h2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header {
    flex-direction: column;
    height: auto;
  }

  .logo {
    height: 100px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }

  .nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .hero__content {
    width: 300px;
    height: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .hero__subtitle {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
  }

  .hero__title {
    text-align: center;
    margin: 1.5rem;
  }

  .hero__content .hero__notice {
    text-align: center;
    margin: 1.5rem;
  }

  .hero__content .hero__button {
    margin: 0;
    width: 100%;
  }

  .hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__demo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    width: 300px;
  }

  .hero__demo .hero__button {
    width: 100%;
  }

  .video iframe {
    width: 100%;
  }

  .awesome-app {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .awesome {
    width: 70%;
    padding-bottom: 0;
  }

  .advantages-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials {
    width: 100%;
    height: auto;
  }

  .briefs {
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .prices {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
  }

  .price-contrainer {
    flex-direction: column;
    align-items: center;
  }
}

.line {
  width: 175px;
  height: 1px;
  background-color: #d6d6d6;
  transform: rotate(38.5deg);
  position: relative;
  top: 54.5px;
  right: 18px;
}
.lines {
  width: 175px;
  height: 1px;
  background-color: #d6d6d6;
  transform: rotate(-38.5deg);
  position: relative;
  top: 53.5px;
  right: 18px;
}
